# Ignorar el archivo de ayuda generado por Spring Initializr
HELP.md

# Ignorar la carpeta target y todo su contenido
target/

# Permitir el wrapper de Maven
!.mvn/wrapper/maven-wrapper.jar

# Excluir las carpetas target específicas dentro de src/main y src/test
!src/main/**/target/
!src/test/**/target/

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignorar carpetas build generadas fuera de src/main y src/test
build/
!src/main/**/build/
!src/test/**/build/

### Visual Studio Code ###
.vscode/
